* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Logisoso';
    src: url('logisoso-weme-webfont.eot');
    src: url('logisoso-weme-webfont.eot?#iefix') format('embedded-opentype'),
         url('logisoso-weme-webfont.woff') format('woff'),
         url('logisoso-weme-webfont.ttf') format('truetype'),
         url('logisoso-weme-webfont.svg#LogisosoMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LimousineMedium';
    src: url('limousine-webfont.eot');
    src: url('limousine-webfont.eot?#iefix') format('embedded-opentype'),
         url('limousine-webfont.woff') format('woff'),
         url('limousine-webfont.ttf') format('truetype'),
         url('limousine-webfont.svg#LimousineMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 15px;
  padding: 0;
  font: 16px/22px "LimousineMedium", sans-serif;
  color: #0000ff;
  background: transparent;
}

a, a:visited, a:hover, a:active {
  color: #0000ff;
  text-decoration: none;
  background-color: rgba(195,195,195,0.1);
}

textarea, input {
    font: 16px/22px "LimousineMedium", sans-serif;
    color: #0000ff;
    background: #ffffff;
}

#header {
  height: 105px;
}

#nav ul, .submit {
    margin-bottom: 22px;
}

.submit {
    margin-top: 22px;
}

h1, h2, h3, h4, h5, h6, input#id_name {
  font-weight: normal;
  font-family: 'Logisoso';
  color: #0000ff;
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

h1 a, h1 a:visited, h1 a:active {
    text-decoration: none;
    color: #0000ff;
    background-color: transparent;
}

h2, h3, input#id_name {
  font-size: 44px;
  line-height: 44px;
}

h3 a {
    font-size: 22px;
}

.page_header h3, .page_header input#id_name {
    margin-top: 80px;
}

input#id_name {
    width: 300px;
}

p {
  margin-bottom: 22px;
}

li {
    list-style: none;
}

div#visualisation {
    position: absolute;
    z-index: -100;
    width: 800px;
    left: 50%;
    top: 60px;
    margin-left: -380px;
}

div#container {
    margin-top: 120px;
}

textarea {
    width: 100%;
    
}

.hidden_content {
    visibility: hidden;
    position:absolute;
}

.admin {
    background-color: yellow;
}