* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Logisoso';
    src: url('Logisoso.eot?#iefix') format('embedded-opentype'), 
         url('Logisoso.woff') format('woff'), 
         url('Logisoso.ttf')  format('truetype'),
         url('Logisoso.svg#svgFontName') format('svg');
}

body {
  margin: 15px;
  padding: 0;
  font: 16px/22px "Verdana", sans-serif;
  color: #0000ff;
  background: transparent;
}

textarea, input {
    font: 16px/22px "Verdana", sans-serif;
    color: #0000ff;
    background: #ffffff;
}

#header {
  height: 105px;
}

#nav ul, .submit {
    margin-bottom: 22px;
}

.submit {
    margin-top: 22px;
}

h1, h2, h3, h4, h5, h6, input#id_name {
  font-weight: normal;
  font-family: 'Logisoso';
  color: #0000ff;
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

h1 a {
    text-decoration: none;
}

h2, h3, input#id_name {
  font-size: 44px;
  line-height: 44px;
}

h3 a {
    font-size: 22px;
}

.page_header h3, .page_header input#id_name {
    margin-top: 80px;
}

input#id_name {
    width: 300px;
}
a, a:visited, a:hover, a:active {
  color: #0000ff; 
}

p {
  margin-bottom: 22px;
}

li {
    list-style: none;
}

div#visualisation {
    position: absolute;
    z-index: -100;
    width: 800px;
    left: 50%;
    top: 60px;
    margin-left: -380px;
}

div#container {
    margin-top: 120px;
}

textarea {
    width: 100%;
    
}

.hidden_content {
    visibility: hidden;
    position:absolute;
}

.admin {
    background-color: yellow;
}