<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"/>

  <title>R.J.C. de Weme psychiater/psychotherapeut | {{ page.name }}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}reset.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}grid.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}straps.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css"/>
  <!--[if IE]><script src="{{ STATIC_URL }}excanvas.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}jquery.min.js"></script>
  <script src="{{ STATIC_URL }}drawing.js"></script>
  {% if user.is_authenticated %}
  <script src="{{ STATIC_URL }}admin.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="{% url tinymce-js "default" %}"></script>
  <style>
  body { padding-top: 40px;}
  </style>
  {% endif %}
</head>
<body>
<canvas id="drawing_surface" style="position:absolute;top:0;left:0;z-index:-1"></canvas>
{% if user.is_authenticated %}
<div class="topbar" >
  <div class="topbar-inner">
    <div class="container">
      <ul class="nav">
        {% if page.name %}<li><a href="/{{ page.name }}/edit/">Bewerk</a></li>{% endif %}
        <li><a href="/NieuwePagina/edit/">Nieuwe pagina</a></li>
        <li><a href="/logout?next=/{{ request.path }}">Uitloggen</a></li>
      </ul>
    </div>
  </div>
</div>
{% endif %}
<div class="container_12" id="header">
<div class="grid_8">
  <h1><a href="{% url psychiaterdeweme.wiki.views.index %}">R.J.C. de Weme</a></h1>
  <h2>psychiater/psychotherapeut</h2>
</div>
<div class="grid_4 page_header">
{% block page_header %}{% endblock %}
</div>
</div>

<div class="clear"></div>

<div class="container_12" id="container">
<div class="grid_2 suffix_1" id="nav">
{% if pages %}
    <ul>
        {% for page in pages %}
            <li><a href="{{ page.name }}">{{ page.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<img src="/static/deweme_220.png" />
</div>

<div class="grid_9">
{% block content %}{% endblock %}

</div>

</div>

<!--<div id="visualisation">
    <img src="{{ STATIC_URL }}netwerksnippet_dubbel.png" style="width:600px;height:163px;" />-->
</div>
</body>
</html>