{% extends 'wiki/base.html' %}

{% block page_header %}
  <form action="" method="post">
    {% csrf_token %}

    <div class="field_wrapper required{% if form.name.errors %} errors{% endif %}" id="field_name">
      {% if form.name.errors %}{{ form.name.errors }}{% endif %}
      <div class="field text_input">
        {{ form.name }}
      </div>
    </div>
{% endblock %}

{% block content %}
  <div class="hidden_content">{{ page.content|safe }}</div>
    <div class="field_wrapper required{% if form.content.errors %} errors{% endif %}" id="field_content">
      {% if form.content.errors %}{{ form.content.errors }}{% endif %}
      <div class="field textarea">
        {{ form.content }}
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="Save" class="btn" />
    </div>
  </form>
{% endblock %}
