{% extends 'wiki/base.html' %}


{% block page_header %}
  <h3>{{ page.name }} {% if user.is_authenticated %}<a class="admin" href="/{{ page.name }}/edit/">edit</a>{% endif %}</h3>
{% endblock %}

{% block content %}
  {% if not page.id %}
    <p>This page does not exist, <a href="edit/">create it now</a>?</p>
  {% endif %}

  {{ page.content|safe }}
{% endblock %}


{% block footer %}
  {% if page.id %}
    <a href="edit/">Edit this page</a>
  {% else %}
    <a href="edit/">Create this page</a>
  {% endif %}
  |
{% endblock %}